*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(133, 128, 128);
}
.header{
width: 100%;
height: 4.7vw;
background-color: black;
}
#header_span{
    display: flex;
    align-items: center;
}

#logo{
    width: 4vw;
    height: 4vw;
    margin:0% 1% 0%;
}
.list_birds{
    display: flex;
     width: 80vw;
     height: 5vw;
   
    align-items: center;
    justify-content: flex-end;
    margin:0%;
}
.list_birds_name{
    width: auto;
    list-style-type: none;
    color: white;
    font-size: 1.7vw;
    margin-right: 3vw;
    cursor: pointer;
}
.list_birds_name:hover{
    color: rgb(136, 128, 128);
}
.main_block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 120px);
    min-height: 280px;
    background: url('img/forest.jpg'), center no-repeat;
    background-size: cover;

}
.main_button_play{
    width: 160px;
    height: 160px;
    background-image: url('img/play.svg');
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: 0px;
    transition: .3s;
}
.footer{
    background-color: #000;
}
.footer_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 5px 20px;
    font-size: 20px;
}
.footer_information{
    display: flex;
    align-items: center;
}
.footer_information > p{
    padding-right: 20px;
    color: #fff;
}
.rss{
    width: 135px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/rss.svg');
    transition: .3s;
}
.github_link{
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    transition: .3s;
}
.github_link:hover{
    color: rgb(136, 128, 128);
}