body{
    margin:0%;
    background-color: rgb(133, 128, 128);
}
.header{
width: 100%;
height: 5vw;
background-color: black;
}
#header_span{
    display: flex;
    align-items: center;
}

#logo{
    width: 4vw;
    height: 4vw;
    margin:0% 1% 0%;
}
.list_birds{
    display: flex;
     width: 80vw;
     height: 5vw;
   
    align-items: center;
    justify-content: flex-end;
    margin:0%;
}
#list_birds_name{
    width: auto;
    list-style-type: none;
    color: white;
    font-size: 20px;
    margin-right: 3vw;
}