*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.header{
width: 100%;
height: 4.1vw;
background-color: black;
}

#header_span{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo{
    width: 3.8vw;
    height: 3.8vw;
   /* margin:0% 1% 0%;*/
    fill: #a39978;
}
#logo:hover{
    fill:#fff;
    cursor: pointer;
}
.list_birds{
    display: flex;
     width: 80vw;
   
    align-items: center;
    justify-content: flex-end;
    margin:0%;
}
.list_birds_name{
    width: auto;
    list-style-type: none;
    color: white;
    font-size: 1.5vw;
    margin-right: 3vw;
    cursor: pointer;
}
.list_birds_name:hover{
    color: #a39978;
}
.main_block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 120px);
    min-height: 280px;
    background: url('img/forest.jpg'), center no-repeat;
    background-size: cover;

}
#main_button_play{
    width: 160px;
    height: 160px;

    display: block;
   /* background-image: url('img/play.svg');*/
    background-color: transparent;
    border: 0px;
    transition: .3s;
    cursor: pointer;
}
#main_button_play_svg:hover{
    fill: #a39978;
    cursor: pointer;
}
#pauseButton{
    display: none;
    width: 160px;
    height: 160px;
    background-color: transparent;
    border: 0px;
    transition: .3s;
    cursor: pointer;
}
#main_button_pause_svg:hover{
    fill: #a39978;
    cursor: pointer;
}
.footer{
    background-color: #000;
}
.footer_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
    padding: 6px 20px;
   
}
.footer_information{
    display: flex;
    align-items: center;
}
.footer_information > p{
    padding-right: 20px;
    color: #fff;
    font-size: 2vw;
}
.rss{
    width: 135px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s;

}
.rss:hover{
    fill: #a39978;
}
.github_link{
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    transition: .3s;
    font-size: 1.5vw;
}
.github_link:hover{
    color: #a39978;
}